/* general */
body {
	margin: 0;
}

a {
	color: inherit;
	text-decoration: inherit;
	transition: color 0.5s ease;
}

a:hover {
	opacity: 0.5;
}

/* header */
.header {
	padding: 2em;
	font-family: "Barlow", sans-serif;
	font-weight: 600;
	font-size: 1.3em;
	background-color: hsla(71, 20%, 100%, 1);
	color: hsla(214, 32%, 10%, 1);
}

.site-header-left {
	display: inline-block;
}

.site-header-left img {
	height: 40px;
}

.site-header-right {
	float: right;
}

.site-header-right li {
	display: inline;
	margin-left: 0.6em;
}

.header li {
	list-style: none;
}

.header ul {
	padding: 0;
	margin: 0;
}

/* page hero */
.page-hero {
	background-color: hsla(214, 32%, 55%, 1);
	display: grid;
	grid-template-columns: 60% 40%;
	padding: 2em 5em;
	color: hsla(71, 20%, 100%, 1);
}

.hero-col-one {
	padding: 2em 0;
}

.hero-col-one h3,
.hero-col-one h1 {
	font-family: "Barlow", sans-serif;
}

.hero-col-one h1 {
	text-transform: uppercase;
	font-size: 4em;
	margin-top: 0.2em;
}

.hero-col-one h3 {
	font-size: 2em;
	margin-bottom: 0;
}

.hero-col-two {
	padding: 3em 0;
	font-family: "Roboto Slab", serif;
}

/* main */
#main {
	padding: 2em 4em;
	background-color: hsla(71, 20%, 100%, 1);
	color: hsla(214, 32%, 10%, 1);
}

/* render senator data */
.head-container {
	display: grid;
	grid-template-columns: 30% 30% 40%;
	grid-template-rows: 320px;
	padding: 1em;
	overflow: hidden;
	margin-bottom: 1em;
	font-family: "Roboto Slab", serif;
	border: 1px solid hsla(214, 32%, 30%, 0.3);
	box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.05);
	cursor: pointer;
	transition: color 0.5s ease;
}

.head-container:hover {
	opacity: 0.5;
}

.head-container h1,
.head-container h2,
.head-container h3 {
	font-family: "Barlow", sans-serif;
	font-weight: 300;
}

.head-container h1 {
	text-transform: uppercase;
	font-weight: 400;
}
.dropdown-container {
	padding: 1em;
	margin-bottom: 1em;
	font-family: "Roboto Slab", serif;
	font-weight: 300;
}

.dropdown-container > h3,
.dropdown-container > p {
	display: inline;
}

.dropdown-track {
	display: grid;
	grid-template-columns: 50% 50%;
}

.hidden {
	display: none;
}

.headColOne {
	text-align: center;
	margin-right: 1em;
}

.headColTwo,
.headColThree {
	padding: 1em;
	background-color: hsla(71, 60%, 93%, 1);
}

.headColTwo {
	padding-left: 2em;
}

.headColTwo h3 {
	margin-top: 0.1em;
}

.headColTwo p {
	margin-bottom: 0;
	font-weight: 300;
}

.headColTwo h3,
.headColTwo p {
	padding-left: 40px;
}

.name {
	margin-top: 0;
}

.headColThree {
	text-align: center;
}

.headColThree p {
	font-weight: 300;
}

.headColThree h1 {
	margin: 1.5em auto;
	text-align: center;
}

.photo-enclosure {
	height: 300px;
	max-width: 300px;
	overflow: hidden;
	margin: 0 auto;
}

.photo-enclosure img {
	height: 280px;
	padding: 20px 0;
}

.button-enclosure {
	text-align: center;
}

button {
	width: 250px;
	height: 50px;
	font-size: 1em;
	font-family: "Roboto Slab", serif;
	font-weight: 300;
}

/* fonts styles */
/* font-family: 'Barlow', sans-serif;
font-family: 'Roboto Slab', serif; */

/* Color Theme Swatches in HSLA */
.red/blue-triad-1-hsla {
	color: hsla(5, 36, 53, 1);
}
.red/blue-triad-2-hsla {
	color: hsla(71, 100, 86, 1);
}
.red/blue-triad-3-hsla {
	color: hsla(6, 100, 81, 1);
}
.red/blue-triad-4-hsla {
	color: hsla(213, 100, 76, 1);
}
.red/blue-triad-5-hsla {
	color: hsla(214, 32, 55, 1);
}
